.welcome {
  background: url(main_big.png);
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
  height: 85vh;
  padding: 20rem;
}

.welcome h1 {
  font-size: 10rem;
  padding: 0;
}
.message {
  padding: 1rem;
  margin-right: 50rem;
}

.hello_w {
  width: 70%;
  height: auto;
  text-align: start;
}

.hello {
  color: rgb(239, 81, 60);
  line-height: 2rem;
  padding: 0;
}

.menu_logo {
  display: none;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  justify-content: space-between;
  background-color: white;
}

.nav-menu-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-menu-ul a {
  text-decoration: none;
}

.linksa {
  color: #272a31;
}

.linksb {
  color: #ec5242;
  border-color: #ec5242;
  border-width: .5rem;
}

.links {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1rem 1.2rem;
}


.main_program {
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
}

.program_card {
  gap: 0.3rem;
  padding-left: 20px;
  padding-right: 20px;
  margin-right:.1rem ;
  flex-direction: column;
}

.join {
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
}

.img_join_1 {
  display: flex;
  flex-direction: row;
}

.img_join_2 {
  display: flex;
  flex-direction: row;
}

.images_last_events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.images_last_events img {
  width: 150%;
  margin: 2rem;
}

.partners {
  width: 105%;
}

.nav-menu img {
  display: block;
}

.text_speakers {
  text-align: left;
  justify-content: flex-start;
}

.media {
  display: block;
  background: #272a31;
  color: white;
}

.media ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  align-items: baseline;
}

.media li {
  margin-left: 1rem;
  margin-right: 1rem;
}

.media h5 {
  color: white;
}

.info {
  font-weight: bold;
  font-size: 2rem;
  color: black;
  text-align: left;
}

.program_button {
  display: none;
}
.whole {
  display: block;
  color: white;
  text-decoration: underline;
  margin-bottom: 60px;
}
#Programs {
  background-image: url(programs.jpeg);
  background-color: rgb(39, 42, 50);
  background-repeat: repeat; 
  padding-top: 30px;
  padding-bottom: 30px;
}
.join {
  padding-left: 200px;
  padding-right: 200px;
}

