.welcome {
  background: url(main_big.png);
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
}

.hello_w {
  width: 70%;
  height: auto;
  text-align: center;
  margin: auto auto auto;
  padding-top: 7rem;
}

.hello {
  color: rgb(239, 81, 60);
  line-height: 2rem;
}

.menu_logo {
  display: none;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  justify-content: space-between;
  background-color: white;
}

.nav-menu-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-menu-ul a {
  text-decoration: none;
}

.linksa {
  color: #272a31;
}

.linksb {
  color: #ec5242;
}

.links {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1rem 1.2rem;
}

.main_program {
  flex-direction: row;
}

.program_card {
  width: 19.9%;
  gap: 0.5rem;
  padding-left: 0;
  padding-right: 0;
}

.main_program_desktop {
  display: block;
  width: 100%;
}

.main_program_mobile {
  display: none;
}

.join {
  display: flex;
  flex-direction: column;
}

.img_join_1 {
  display: flex;
  flex-direction: row;
}

.img_join_2 {
  display: flex;
  flex-direction: row;
}

.images_last_events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.images_last_events img {
  width: 150%;
  margin: 2rem;
}

.partners {
  width: 105%;
}

.nav-menu img {
  display: block;
}

.text_speakers {
  text-align: left;
  justify-content: flex-start;
}

.media {
  display: block;
  background: #272a31;
  color: white;
}

.media ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  align-items: baseline;
}

.media li {
  margin-left: 1rem;
  margin-right: 1rem;
}

.media h5 {
  color: white;
}

.info {
  font-weight: normal;
  font-size: 2.5rem;
  color: black;
  text-align: center;
}
