@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

header {
  background: url(mobile_intro_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 1.4rem;
}

.welcome {
  background: url(mobile_intro_bg.png);
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.menu_logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.menu_logo img {
  width: 10vh;
}

.logo1 {
  width: 15vh;
}

.logo2 {
  width: 80vh;
}

.nav-menu {
  display: none;
}

.menu-mobile {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: multiply;
  backdrop-filter: blur(50000px);
  background-color: white;
}

.menu-mobile a {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4.4rem;
  text-decoration: none;
  color: black;
}

.menu-mobile ul {
  list-style: none;
}

.menu-mobile li {
  margin-bottom: 4rem;
}

.hidden {
  display: none;
}

.close-icon-visible {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  width: 90%;
}

.nav-menu img {
  display: none;
}

.close-icon-visible img {
  display: block;
}

.links {
  text-decoration: none;
}

.links a {
  font-weight: 500;
  font-size: 2.5rem;
}

.links button {
  font-weight: 500;
  font-size: 2.5rem;
}

.menu {
  padding: 0;
  margin: 0;
}

.button {
  padding: 1.2rem;
  margin: 2.4rem 0;
  border: 0.1rem solid;
  border-radius: 0.8rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.4rem;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
}

.message {
  border: 0.4rem solid rgb(255, 255, 255);
  background-color: rgb(247, 247, 248);
  width: calc(100% - 2.5em);
  margin-left: 1rem;
  text-align: center;
}

.message p {
  text-align: justify;
  padding: 0.4rem;
}

h1 {
  color: #ec5242;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 3.5rem;
}

h2 {
  display: block;
  font-size: 2.5rem;
  margin-block-start: 0.83rem;
  margin-block-end: 0.83rem;
  font-weight: bold;
}

.presentation {
  margin-left: 5rem;
  margin-right: 5rem;
}

h3 {
  color: #ec5242;
  font-weight: 500;
  font-size: 1.5rem;
}

h4 {
  font-weight: 500;
  font-size: 2rem;
}

h5 {
  color: #ec5242;
  font-size: 17px;
  font-weight: bold;
  flex: 1;
  margin-block-end: 0%;
  margin-block-start: 0%;
}

.parr_about {
  background: #d3d3d3;
  color: #272a31;
}

.main_program {
  background-color: #272a31;
  background-repeat: no-repeat;
  border-color: #272a31;
  border-width: 40px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.program_card {
  background-color: rgba(90, 88, 88, 0.392);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-bottom: 1rem;
  padding: 2rem;
}

.program_card p {
  width: max-content;
  color: white;
  padding-left: 0.5rem;
  flex: 1;
}

.main_program_button {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
  border-width: 2rem;
  border-style: solid;
  align-content: center;
}

.link_program {
  background-color: #272a31;
  border-width: 2rem;
  border-style: solid;
  color: #272a31;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  width: 100%;
}

.link_program a {
  text-decoration: none;
  color: #fff;
}

.link_program h3 {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.main_program_desktop {
  display: none;
}

.main_program_mobile {
  display: block;
  width: 100%;
}

.join {
  display: block;
  flex-direction: row;
}

.images_last_events {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.images_last_events img {
  width: 95%;
  margin: 2rem;
}

.partners {
  width: 100%;
  height: 60%;
}

.card_speaker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.text_speakers {
  text-align: justify;
  margin: 2rem;
  flex: 1;
}

.media {
  display: none;
}

.logo {
  display: none;
}

.hello {
  color: rgb(239, 81, 60);
  line-height: 20px;
  font-size: 24px;
}

.hello_w {
  text-align: left;
  margin-left: 2rem;
}

.info {
  font-size: 24px;
  font-weight: bold;
  width: 90%;
  display: inline-block;
  text-align: left;
  margin-bottom: 0.4rem;
  margin-left: 2rem;
  letter-spacing: 0;
}

.program_button {
  background-color: rgb(239, 81, 60);
  color: white;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.title_spk {
  text-align: center;
  margin: 4rem;
}

.Sponsor {
  background-color: rgba(21, 20, 20, 0.871);
  padding: 2rem;
  height: 30rem;
  color: white;
}

.h2-parner {
  color: white;
  text-align: center;
  margin: 4.5rem;
  font-weight: bold;
}

.Sponsor ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.4rem;
}

.Sponsor li {
  list-style: none;
  font-size: 3rem;
  font-weight: lighter;
}

.img_join_1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.img_join_2 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#more_less {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#more_less button {
  background-color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem;
}

.disaper {
  display: none;
}
